*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: url(../img/tweed.png);
	color: #fff;
	font-family: Calibri;
}

header{
	max-width: 960px;
	min-width: 770px;
	height: 90px;
	background: #111;
	margin: auto;
	border-radius: 0 0 8px 8px;
	border: 2px solid #fff;
	border-top: none;
}

h1, h2{
	margin: 0 ;
	text-align: center;
	line-height: 40px;
}

h1{
	line-height: 90px;
	margin: auto;
	width: 300px;
}

.header-img{
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #fff;
	padding: 6px 0 0 6px;
	float: right;
	margin: 6px 7px;
}

main{
	width: 770px;
	margin: auto;
	background: #714C4C;
	border: 2px solid #fff;
	border-top: none;
	border-radius: 0 0 8px 8px;
	position: relative;
}

.canvas-container, #bg{
	box-sizing: content-box;
	border: 2px solid #fff;
	position: absolute !important;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 6px;
}

.column1, .column2{
	width: 105px;
	float: left;
	margin: 15px 25px;
}

.column2{
	float: right;
}

.btn{
	width: 105px;
	border: 0;
	box-shadow: 0;
	background: #111;
	color: #fff;
	height: 50px;
	margin-bottom: 25px;
	font-weight: bold;
	outline: 0;
	cursor: pointer;
	border-radius: 6px;
	position: relative;
	text-align: center;
	line-height: 50px;
	display: block;
}

.btn:active, .btn:hover{
	background: #fff;
	color: #111;
}

.select-box{
	position: absolute;
	left: 105px;
	top: 0;
	background: #fff;
	z-index: 2;
	width: 249px;
	cursor: auto;
	width: 0;
	overflow: hidden;
	transition: width .6s linear;
}

.btn:hover>.select-box{
	width: 249px;
	z-index: 3;
}

.select-box div{
	width: 249px;
	padding: 10px;
	border: 2px solid #ffdab9;
	text-align: left;
}

.select-box img{
	width: 75px;
	height: auto;
	vertical-align: middle;
	border: 1px solid #fff;
	cursor: pointer;
}

.select-box img:hover{
	border: 1px solid #555;
}

input[type="file"]{
	display: none;
}

input[type="number"]{
	width: 45px;
}

form{
	margin: 475px auto 0;
	width: 420px;
}

fieldset{
	width: 310px;
	border: none;
}

form .btn{
	margin-top: 5px;
	float: right;
}

form label{
	line-height: 40px;
}

form input{
	vertical-align: text-bottom;
}