<!DOCTYPE html>
<html lang="en" ng-app="avatar">
<head>
	<meta charset="UTF-8">
	<title>Avatar constructor</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>


	<header>
		<div class="header-img">
			<img src="img/avatar.png" alt="">
		</div>
		<h1>Avatar constructor</h1>
	</header>

	<main ng-controller="AvatarController as ctrl">
		<h2>Create your avatar</h2>
		<canvas id="bg" width="450" height="450"></canvas>
		<canvas id="c" width="450" height="450"></canvas>

		<div class="column1">
			<div class="btn" ng-repeat="(key, value) in ctrl.imgLib">
				{{key}}
				<div class="select-box">
					<div>
						<img ng-src="{{url}}" ng-repeat="url in value" ng-click="ctrl.addImg(url, key)">
					</div>
				</div>
			</div>
		</div>

		<div class="column2">
			<label class="btn">
				Upload img
				<input type="file" ng-change="ctrl.uploadImg($event)" ng-model="fileImg">
			</label>
			<label class="btn">
				Upload bg
				<input type="file">
			</label>
			<button class="btn" ng-click="ctrl.saveImg()">
				Save img
			</button>
		</div>

		<form ng-submit="ctrl.addText()">
			<button class="btn" type="submit">Add</button>
			<fieldset>
				<input type="text" placeholder="Add text here" required ng-model="ctrl.text">
				<span>Font size</span>
				<input type="number" required ng-model="ctrl.fontSize">
				<span>Animation:</span>
				<label for=""><input type="checkbox">Rotate</label>
				<label for=""><input type="checkbox">Scale</label>
				<label for=""><input type="checkbox">Translate</label>
			</fieldset>
		</form>
	<div class="btn" ngf-select="console.log(ctrl.upload($file))">AAAAAa</div>
	<button ngf-select="uploadFiles($files)" multiple 
	            accept="image/*">Select Files</button>
	</main>

	<a download="avatar.jpg" href="" title="ImageName" id="save-img">Download</a>

	<!-- libs -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="bower_components/fabric.js/dist/fabric.min.js"></script>

	<!-- app -->
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
</body>
</html>